stage_1:
  # select from [rae, da3, vggt]
  model: da3
  rae:
    target: 
    params:
      encoder_cls: 
      encoder_config_path: 
      encoder_input_size: 
      encoder_params: 
      decoder_config_path: 
      pretrained_decoder_path: 
      noise_tau: 
      reshape_to_2d: 
      normalization_stat_path: 
  da3:
    # ckpt: depth-anything/DA3NESTED-GIANT-LARGE
    ckpt: depth-anything/DA3-GIANT-1.1
  vggt:
    ckpt: facebook/VGGT-1B


stage_2:
  model: DiTwDDTHeadMVRM
  target: stage2.models.DDT_MVRM.DiTwDDTHeadMVRM
  params:
    input_size: [27, 36]  # feat_H, feat_W
    patch_size: 1
    in_channels: 1536
    hidden_size: [1536, 3072]
    depth: [28, 2]
    num_heads: [16, 16]
    mlp_ratio: 4.0
    class_dropout_prob: 0.1
    num_classes: 
    use_qknorm: true 
    use_swiglu: true
    use_rope: true
    use_rmsnorm: true
    wo_shift: false
    use_pos_embed: true
  ckpt:

  # # input: lq, ckpt: hq15k
  # ckpt: result_train/stage2/260119/hypersim/TRAIN__fp32__hypersim__stage1-da3__stage2-DiTwDDTHeadMVRM__bs-1-accum-1__lr-2e-04__msg-hq-recon-global17-rerere-ckpt-5k/checkpoints/ep-0015000.pt
  
  # ckpt: result_train/stage2/260119/hypersim/TRAIN__fp32__hypersim__stage1-da3__stage2-DiTwDDTHeadMVRM__bs-1-accum-1__lr-2e-04__msg-hq-recon-global17-rerere/checkpoints/ep-0005000.pt
  # ckpt: result_train/stage2/260119/hypersim/TRAIN__fp32__hypersim__stage1-da3__stage2-DiTwDDTHeadMVRM__bs-1-accum-1__lr-2e-04__msg-lq-kernel50-global17-re/checkpoints/ep-0050000.pt


transport:
  params:
    path_type: 'Linear'
    prediction: 'velocity'
    loss_weight: null
    time_dist_type: 'logit-normal_0_1'


sampler:
  mode: ODE
  params:
    sampling_method: 'euler'
    num_steps: 50
    atol: 1.0e-6
    rtol: 1.0e-3
    reverse: false


guidance:
  method: 'cfg'
  scale: 1.0
  t_min: 0.0
  t_max: 1.0


misc:
  latent_size: [1, 973, 1536] # [v, n+1, d]
  num_classes: 
  time_dist_shift_dim: 1492992  # 1536*27*36
  time_dist_shift_base: 4096


training:
  global_seed: 42
  precision: fp32
  epochs: 20
  global_batch_size: 1    # this is the final total batch size
  grad_accum_steps: 1     # by controling grad_accum_step, the batch_size is adjusted automatically
  ema_decay: 0.9995
  num_workers: 0
  shuffle: True
  log_interval: 1
  # checkpoint_interval: 

  ckpt_step_interval: 20000   # 20k
  # ckpt_step_interval: 5000   # 5k
  
  sample_every: 1000

  
  clip_grad: 1.0
  optimizer:
    # lr: 2.0e-4
    lr: 1.0e-4
    betas: [0.9, 0.95]
    weight_decay: 0.0
  scheduler:
    type: linear
    warmup_epochs: 10
    decay_end_epoch: 20
    base_lr: 2e-4
    final_lr: 2e-5
    warmup_from_zero: false


log:
  result_root_dir: result_train/stage2/260121
  tracker:
    name: wandb 
    wandb:
      key: e32eed0c2509bf898b850b0065ab62345005fb73
      entity: jinlovespho
      project: eccv26_mv_restoration


      # msg: "hq-recon-global17-rerere-ckpt-5k"
      # msg: "lq-kernel50-global17-re__ckpt-50k"

      # msg: "lq-kernel50-global17__hqckpt-15k__lqckpt-40k"

      # msg: "lq-kernel50-global17"


      msg: "TMP"


data:
  train:
    image_size: 512 
    num_input_view: 1
    # list: [imagenet]
    list: [hypersim]
    # list: [tartanair]
    # list: [hypersim, tartanair,]
    
    imagenet:
      hq_root_path: /mnt/dataset1/ImageNet2012/train
      lq_root_path: 

    hypersim:
      hq_root_path: /mnt/dataset1/MV_Restoration/hypersim/data
      hq_latent_root_path: 
      # hq_latent_root_path: /mnt/dataset1/MV_Restoration/hypersim/da3_clean_latent/input_singleview_g17

      lq_root_path:
      # lq_root_path: /mnt/dataset1/MV_Restoration/hypersim/deg_blur/kernel10_intensity01
      # lq_root_path: /mnt/dataset1/MV_Restoration/hypersim/deg_blur/kernel30_intensity01
      # lq_root_path: /mnt/dataset1/MV_Restoration/hypersim/deg_blur/kernel50_intensity01
      # lq_root_path: /mnt/dataset1/MV_Restoration/hypersim/deg_blur/kernel100_intensity01
      
      depth_path: /mnt/dataset1/MV_Restoration/hypersim/data
      view_sel_strategy:
    
    tartanair:
      hq_root_path: /mnt/dataset1/MV_Restoration/tartanair/data
      hq_latent_root_path: 
      lq_root_path:
      lq_latent_root_path: 
      view_sel_strategy:

  val:
    image_size: 512 
    list: [eth3d]
    eth3d:
      hq_root_path:
      lq_root_path:
  

mvrm:
  
  save_hq_latent: False
  save_hq_latent_root_path:
  # save_hq_latent_root_path: /mnt/dataset1/MV_Restoration/hypersim/da3_clean_latent/input_singleview_g17


  # input_img: hq               # [hq, lq]
  input_img: lq               # [hq, lq]

  lq_latent_cond: addition    # [addition, concat]

  train:
    # DPT Head input feats = [19, 27, 33, 39]
    extract_feat_layers: [17]
    concat_feat: False
  val:
    restore_feat_layers: [17]
    concat_feat: False 
    
